<html>
	<head>
		<title>Django World blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/"> Django World Blog </a></h1>
		</div>

		<div>
			<p>Published: 08.11.2023 14:30 </p>
			<h2><a href="">My first post</a></h2>
			<p>В куала лумпуре происходит большой прирост лимуров, они воруют еду и атакуют людей.</p>
		</div>

		<div>
			<p>Published: 08.11.2023 14:45 </p>
			<h2><a href="">My second post</a></h2>
			<p>В России зима будет самой холодной за всю историю погоды </p>
		</div>
	</body>
</html>